<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grade form</title>
</head>
<body>
<div th:replace="templates :: navigator"></div>

<h1>Grade form</h1>
<form th:action="@{/grade/add}" method="post" th:object="${gradeToEdit}">
    <input type="hidden" th:field="*{id}">
    <!--nie możemy użyć th field - ponieważ 'studentToWhomIAddGrade' nie jest polem w klasie grade -->
    <!--identyfikator wraca z formularza do metody POST w kontrolerze pod inną nazwą - 'retrievedStudentId' -->
    <input type="hidden" th:name="retrievedStudentId" th:value="${studentToWhomIAddGrade}">
    Value: <input type="number" min="2.0" max="6.0" step="0.5" th:field="*{value}"> <br/>
    Subject:
    <!--<input type="text" th:field="*{subject}"> <br/>-->
    <select th:field="*{subject}">
        <option th:each="subj : ${subjects}" th:text="${subj}" th:value="${subj}"></option>
    </select>
    <br/>
    <br/>
    <input type="submit">
</form>
</body>
</html>