<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student list</title>
</head>
<body>
<div th:replace="templates :: navigator"></div>
<h1>Student list</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Date of birth</th>
        <th>Age</th>
        <th>Is alive</th>
        <th></th> <!--Kolumna na guziki -->
    </tr>
    <tr th:each="student : ${nasza_lista_studentow}">
        <td th:text="${student.getId()}"></td>
        <td th:text="${student.getName()}"></td>
        <td th:text="${student.getSurname()}"></td>
        <td th:text="${student.getDateOfBirth()}"></td>
        <td th:text="${student.getAge()}"></td>
        <td th:text="${student.isAlive()}"></td>
        <td>
            <a th:href="@{'/student/edit/' + ${student.getId()}}">Edytuj</a>
            <a th:href="@{'/student/delete/' + ${student.getId()}}">Usun</a>
            <a th:href="@{'/grade/add/' + ${student.getId()}}">Dodaj ocene</a>
            <a th:href="@{'/student/grades/' + ${student.getId()}}">Listuj oceny</a>
        </td>
    </tr>
</table>
</body>
</html>