<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="navigator">
    <div>
        <a th:href="@{/student/list}">Student list</a>
        <a th:href="@{/student/add}">Student add</a>
        <a th:href="@{/grade/list}">Grade list</a>
        <a th:href="@{/grade/add}">Grade add</a>
    </div>
</th:block>

</body>
</html>